<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>CSIL -  CS TA Room Booking System</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/sb-admin.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="/css/plugins/morris.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/css/plugins/metisMenu.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- CSIL Machine Layout -->
<link href="/css/seat-style.css" rel="stylesheet">

<!-- Full Calendar -->
<link href="/css/fullcalendar.min.css" rel='stylesheet' />
<link href="/css/fullcalendar.print.min.css" rel='stylesheet' media='print' />
<link href="/css/calendar-loading.css" rel='stylesheet' />

<!-- Datetime picker -->
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link href="/css/mystyle.css" rel="stylesheet">

<!-- Website icon -->
<link rel="icon" href="/favicon.ico">