<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- metisMenu -->
<script src="/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Navbar -->
<script src="/js/navbar.js"></script>

<!--   full calendar   -->
<script src="/js/lib/moment.min.js"></script>
<script src="/js/fullcalendar.min.js"></script>

<!-- Datetime picker -->
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<!-- Bootbox.js -->
<script src="/js/bootbox.min.js"></script>