//- user-profile.pug
doctype html
html(lang="en")
  head
    include includes/header.html
  body
    div(id="wrapper")
      include includes/navbar.pug
      div(id="page-wrapper")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") CSIL Room Booking

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-dashboard")  Booking management

          div(class="row")
            div(class="col-lg-12")
              p(id="") You can click on your booking record to delete it. Green block means a repeating booking (e.g. Every Monday at that time)
              div(id="calendar")
          
          input(id="csrfToken" type="hidden" name="_csrf" value=csrfToken)

    include includes/scripts.html
    script(src="/js/user_calendar_event.js",type="text/javascript")
