//- user-profile.pug
doctype html
html(lang="en")
  head
      meta(charset='UTF-8')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      include includes/header.html

  body
    script.
        // Safari 3.0+ "[object HTMLElementConstructor]"
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) {
                return p.toString() === "[object SafariRemoteNotification]";
            })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;
        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
        if (isSafari || isIE) {
            alert('Warning: You are browsing our website with a unsupported browser, some of the features may not be functional');
        }
    div(id="wrapper")
      include includes/navbar.pug
      div(id="page-wrapper")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") Welcome
          p This is the one and only CSIL management system. We provide the service to monitor machines status, room reservation and update latest events in CSIL.
          p Please report any violations of policies by either clicking on the violated occupied machine located in the machine status map, or report the issue via "Report Violations" in navigation bar.

          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") CSIL Machine Status Overview
      
          script(type='text/javascript').
            var machines = JSON.parse('!{machines}');
            var rooms = JSON.parse('!{rooms}');
            var records = JSON.parse('!{records}');

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-dashboard")
                  |  To report an incident of violation, click on the violated occupied machine to help us locate the incidence.

          #machine

          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") CSIL Room Status Overview

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-dashboard")
                  |  Click on one of the available rooms below and start booking your own study room!

          #room
          script(src='/Machine.bundle.js')
          script(src='/Room.bundle.js')

    include includes/scripts.html
    if allowAdmin
      script(src="/js/plugins/tinymce/tinymce.min.js")
      script(src="/js/policy.js")
  style.
    body {
    background-color: white;
    }
