//- user-profile.pug
doctype html
html(lang="en")
  head
    include includes/header.html
  body
    div(id="wrapper")
      include includes/navbar.pug
      div(id="page-wrapper")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") CSIL Room Booking

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-dashboard")
                  |  Room status calendar for #{room_name}. Green block means a repeating booking (e.g. Every Monday at that time)
          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                - var if_maintain = room_in_maintenance
                - if (!if_maintain)
                  li
                    i(class="fa fa-dashboard")  Pick a date and period for your booking. You can manage your bookings at  
                      a(href="/booking/manage") booking management page
                - else
                  li
                    i(class="fa fa-dashboard", id="room-in-maintenance") You cannot book this room, but you can still check the status calendar. You can manage your bookings from 
                      a(href="/booking/manage") booking management page
          div(class="row", id="loader")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li
                  div(class="loader")
                  i(class="fa fa-dashboard")
                  |  Loading, please wait             
          - var rid = room_id
            div(id="calendar", name=rid)
            input(id="csrfToken" type="hidden" name="_csrf" value=csrfToken)

    include includes/scripts.html
    script(src="/js/room_calendar_event.js",type="text/javascript")
