doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Hello!
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    #machine
    script.
        var machines = '#{machines_retrieved}'
    script(src='/bundle.js')
